#job-parallax .parallax-title h1{
    font-size: 3rem;
    line-height: 1.3;
}
#job-parallax .parallax-text p{
    width: 100%;
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 1.6;
    margin: 0 0 25px;
    color: #F7F7F7;

}
#job-parallax .parallax-text{
    margin-bottom: 15px;
    color: #F7F7F7;
    font-weight: 700;
    text-align: center;
}
span.badge.new:after{
    content: "";
}
#job-count{
    border-top: 1px solid #dedede;
}
/*CSS job detail page*/
#job-detail{
    margin-top: 0.5em;
}
#job-menu .card{
    margin-bottom: 0;
}
#job-header h2{
    font-weight: 600;
    font-size: 3rem;
    line-height: 1.2;
}
#job-header .card-action{
    padding-bottom: 0;

}
.job-list-tag{
    /*border-top: 1px solid rgba(160,160,160,0.2);*/
}
.job-list-tag .chip{

    margin: 20px 10px 0 0;
    /*margin-right: 10px;*/
}
#job-detail .card-panel{
    border-top: 1px solid rgba(160,160,160,0.2);
}
.job-logo{
    width: 100%;
}
.job-logo img{
    margin: 0 auto;
    width: 100px !important;
    height: auto;
}
#job-company .col .card{
   margin: 10px 20px 0;
}


.colection{
    margin: 0;
}
@media(min-width: 769px){
    #job-parallax .parallax-text{
        text-align: left;
    }
    .job-parallax-img img{
        width: 100%;
        margin: 9.1em auto;
    }
}
@media only screen and (min-width: 992px) {
    .job-parallax-img {
        padding: 0;
    }
    .job-parallax-img img{
        /*width: 80%;*/
        max-width: 80%;
        height: 60%;
        margin: 20% auto;
    }
}