*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
}

body {
    box-sizing: border-box;
    background-color: #e9eaea;
    padding: 0;
    margin: 0;
}
h1, h2, h3, h4, h5, h6 {
    color: #2e353b;
    display: block;
    font-weight: 500;
    line-height: 1.4;
}
nav {
    color: black;
    background: white;

}

nav ul a {
    color: #000;
    font-weight: 700;

}

.main-nav-logo {
    width: 10%;
    /*background: #cccccc;*/
}

.main-nav-logo a {

    padding: 14px 10px;
    display: block;
}

.brand-logo img {
    max-height: 36px;
    margin: 10px auto;
}

.main-nav, .user-nav {
    background: #fff;
    top: 0;
    z-index: 998;
}

.side-nav li .collapsible-body li a {
    height: 55px;
    line-height: 55px;
    overflow: hidden;
    margin: 0;
    padding: 0%;
}

.side-nav li {
    padding: 0;
}

.side-nav .collapsible-header {
    margin: 0;
}

.side-nav li .collapsible-body li {
    padding-left: 30px;
}

ul.side-nav > li > .collapsible-body > ul > li {
    padding-left: 30px;
}

nav .button-collapse i {

    color: #000;
    padding-left: 20px;
}

.nav-top {
    /*height: 38px;*/
    z-index: 998;
}

.user-nav > .nav-wrapper > ul > li a {
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    color: #576366;
    font-weight: 500;
    position: relative;

}

.user-nav > .nav-wrapper
.user-nav > .nav-wrapper > ul > li:hover {
    background: #fff;
    color: black;
    font-weight: bold;
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    -ms-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
}

/*CSS cho menu sidenav*/

#video-promotion, #blog, #main_row_2 {
    padding-bottom: 40px;
    padding-top: 40px;
}

#list-course-title h2, #book-title h2, #review-title h2, #list-link-title h2, #blg-title h2, #job-title h2, #how-learn-title h2, #video-promotion-text h2 {
    font-size: 24px;
    line-height: 38px;
    color: #307699;
    font-weight: 500;
}

#list-course-title h2 {
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0;
}

#how-learn-title {
    padding: 0 1.25rem;
}

#home-parallax {
    background: linear-gradient(to bottom left, #34b3a0, #204056);
    background: -o-linear-gradient(to bottom left, #34b3a0, #204056);
    background: -webkit-linear-gradient(to bottom left, #34b3a0, #204056);
    background: -moz-linear-gradient(to bottom left, #34b3a0, #204056);
    background: -ms-linear-gradient(to bottom left, #34b3a0, #204056);
}

.parallax img, #main_row_3 > .parallax img {
    -webkit-filter: grayscale(0.1) sepia(1);
}

.parallax-top > .parallax-content {
    width: 90%;
    margin: 10% auto;
}

.triangle, .triangle-course {
    position: relative;
    height: 0;
}

.triangle::after, .triangle-course::after {
    top: -3px;
    left: 50%;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    margin-left: -30px;
    z-index: 100;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 30px solid #265f6a;
}

.triangle-course::after {
    border-top: 30px solid #ffffff;

}

.parallax-form-title {
    margin-bottom: 0;
    line-height: 2.8;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

form.col.s12.white.parallax-form {

    padding: 10px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

#parallax-title-top {
    height: 4em;
    margin-top: 1em;
}

#typed {
    width: 100%;
    height: 4em;
    margin: 1.25rem auto .75rem;
    vertical-align: middle;
    color: lime;
    font-family: "Courier", sans-serif;
    /*font-size: 45px;*/
    font-size: 1.8125rem;

    /*line-height: 2.8125;*/
}

.typed-cursor {
    opacity: 1;
    color: lime;
    font-size: 1.8125rem;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.parallax-title h3 {
    display: inline-block;
    margin: 30px auto 20px auto;
    font-size: 1.5em;
    font-weight: 400;
    /*text-align: center;*/
    padding-left: 5px;
    line-height: 1.5em;
}

#parallax-sigh-up h5, #parallax-sigh-up .row form, #social-button {
    max-width: 450px;
    margin: 0 auto;
    float: none;

}

#sign-up, #login, #signup {
    width: 100%;
    text-align: center;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    background-color: white;
}

#login, #signup {
    height: auto;
}

form p:last-child {
    margin-bottom: auto;
}

.social-btn {
    text-transform: none;
    float: left;
    padding: 0 11px 11px 11px;
    height: 40px;
    border: none;
    font-size: 0.8em;
    width: 47.5%;
    /*text-align: center;*/
    line-height: 40px;
    box-sizing: border-box;
}

.social-btn img {
    padding-top: 10px;
    float: left;
    margin-right: 5px;
}

@media (min-width: 601px) {
    .social-btn {
        font-size: 1em;
    }

    .social-btn img {
        margin-right: 20px;
    }
}

.mbl {
    padding-left: 10px;
    padding-right: 10px;
}

td {
    padding-left: 30px;
}

.link-cam {
    margin-right: 20px;
}

#course-info {
    margin-top: 60px;
}

#center-title h3 {
    font-weight: 300;
}

#center-title p {
    font-weight: 200;
    font-size: 1.1em;
}

#center-title .center {
    font-weight: 300;
}

.parallax-container, .section {
    width: 100%;
}

.parallax-bot {
    max-height: 300px;
}

.parallax-container {
    /*line-height: 0;*/
    height: auto;
    color: rgba(255, 255, 255, .9);
}

@media only screen and (max-width: 992px) {

    .parallax-container .section {
        position: absolute;
        top: 30%;
    }

    #index-banner .section {
        top: 10%;
    }
}

#how-learning {
    padding-top: 30px;
    padding-bottom: 30px;
}

#how-learning > .container {
    width: 90%;
}

.icon-block {
    margin: 0 auto;
    padding: 0 5px;
    /*border-bottom: thin solid silver;*/
}

.icon-block h2 {
    margin: 30px 0 0 0;
    line-height: 1;
}

.icon-block h5 {
    font-weight: 500;
    margin-top: 0.5em;
}

.ib-last {
    border-bottom: none;
}

#row-right1 > .card {
    margin-top: 0 !important;

}

#course_des {
    box-shadow: none;
}

#course_des img {
    margin-bottom: 10px;
    width: 50%;
}

#author_course {
    box-shadow: none;
    background-color: white !important;
}

.hr-gradient {
    border: none;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #fff, #dcdcdc 50%, #fff);
    background-image: linear-gradient(to right, #fff, #dcdcdc 50%, #fff);
    background-repeat: no-repeat;
}

#main_row_4 .card {
    box-shadow: none !important;
}

#book-title h2 {
    padding-bottom: 40px;
    padding-top: 40px;;
}

.book-name-item {
    font-weight: bold !important;
    line-height: 1.6 !important;

}

.book-name-description {
    box-sizing: border-box;
    overflow: hidden;
    max-height: 110px;
}

#video-promotion-text {
    margin: 2% auto;
    padding: 2%;
    color: #307699;

}

#book-content, #list-course-content, #review-content, #list-link-content, #video-promotion-content, #blog-content, #how-learn-content {
    margin: 0 auto;
    max-width: 400px;

}

#course_container {
    margin: 40px auto;
    width: 90%;
    max-width: 1280px;
}

#list-course-content .col, #how-learn-content .col {
    padding: 0 .75rem;
}

#container-course-page {
    margin: 0 auto;
    margin-bottom: 40px !important;
}

#list-course-content .m4, #video-promotion-content {
    padding: 0 .75em;
}

.book-item img {
    max-height: 255px;
}

#main_row_5 {
    background-color: #FFFFFF;
}

#main_row_5 .card {
    box-shadow: none !important;
}

#blg-content ul li, #job-content ul li {
    margin-bottom: 15px;
}

#blg-content ul li a, #job-content ul li a {
    font-weight: 600;
    color: #307699;
    font-size: 16px;
}

#blg-content ul li a:hover, #job-content ul li a:hover {
    color: #3782c4;
}

.card-title h4 {
    font-size: 1.14em;
}

.colorgraph {
    height: 5px;
    border-top: 0;
    background: #c4e17f;
    border-radius: 5px;
    background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

.modal {

    width: 95%;
    margin: 0 auto;
    max-width: 400px;
    max-height: 700px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

form .row {
    margin-bottom: 0;
}

.modal label, .modal form a {
    font-size: 13px;
    /*padding-left: 28px;*/
}

.modal p {
    margin: 0;
}

form button {
    font-size: 14px;
    font-weight: 400;
    width: 100%;
}

.modal input[type='text'], .modal input[type='email'], .modal input[type='number'], .modal input[type='password'] {
    margin-bottom: 0;
    height: 2.5rem;
}

.modal .input-field {
    margin-top: 0.5rem;
}

.modal .helper {
    font-size: 13px;
    color: #5f5f5f;
    line-height: 1.2;
    margin-top: 10px;
}

@media (max-width: 385px) {
    .g-recaptcha {
        margin: 0 auto;
        transform: scale(0.87);
        transform-origin: left top;
    }

}

#recaptcha {
    margin: 1rem auto;
}

.tabs .tab a {
    color: black;
    background-color: #e9eaea;
    display: block;
    width: 100%;
    height: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-transition: color .28s ease;
    -moz-transition: color .28s ease;
    -o-transition: color .28s ease;
    transition: color .28s ease;
}

.tabs .tab a.active {
    background-color: white;
    color: black;
}

.tabs .indicator {
    display: none;
}

.mdl_form {
    background-color: #fafafa;
    /*margin: 0 auto 3rem;*/
    border-radius: 5px;
    /*padding: 1.5em 2rem 0.5rem;*/
}

.social-log {
    padding: 0 !important;
}

.social-log button {
    width: 44%;
    padding: 1% !important;
}

.social-log button:first-child {
    margin-right: 10%;
}

.mdl-button button {
    margin-bottom: 10px;
}

.g-recaptcha div {
    width: auto !important;
}

.show_more {
    width: 80%;
    margin-bottom: 20px;
}

/*Footer Css*/

#footer {
    background: #222428;
    color: #919294;
    padding: 61px 0;
    text-align: center;
}

#footer a {
    color: rgb(145, 146, 148);

}

#footer a:hover {
    text-decoration: underline;
}

#footer .holder {

    font-size: 16px;
    line-height: 19px;
    color: #fff;
}

#footer .holder .logo {
    float: none;
    display: block;
    color: #ffffff;
}

#footer .holder strong {
    font-weight: 400;

}

#footer .holder .logo a {
    display: block;
    height: 31px;
    /*background: url(/images/logo-footer.png) no-repeat;*/
    background-size: cover;
    margin: -12px 0 0;
    text-align: left;
}

#footer .holder .copyright, .quote-form .btn, .select-area, .select-options ul a {
    letter-spacing: 2px;
}

#footer .add-nav {

    padding-bottom: 20px;
}

#footer .add-nav > li + li:before {
    content: '';
    position: absolute;
    top: 0;
    left: -18px;
    bottom: 0;
    width: 2px;
    background: #fff;
    opacity: .1;
}

#footer .add-nav > li + li {
    margin-left: 34px;
}

#footer .add-nav > li {
    position: relative;
    padding: 3px 0;
}

.nav-pills > li {
    float: left;
}

.nav-pills > li + li {
    margin-left: 2px;
}

#footer .nav-list {
    font-size: 14px;
    line-height: 17px;
}

.list-inline, .list-unstyled {
    padding-left: 0;
    list-style: none;
}

#footer .nav-list li {
    padding: 0 0 11px;
}

#footer h4 {
    color: #fff;
    font-size: 18px;

}

#footer h4 .state {
    display: inline-block;
    vertical-align: top;
    margin: 0 0 0 7px;
    position: relative;
    top: 5px;
    width: 12px;
    height: 12px;
    -webkit-border-radius: 50%;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 50%;
    -moz-background-clip: padding;
    border-radius: 50%;
    background: #e11f1f;
}

#footer p {
    margin-bottom: 16px;
}

#footer .btn-chat {
    -webkit-border-radius: 22px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 22px;
    -moz-background-clip: padding;
    border-radius: 22px;
    background-clip: padding-box;
}

.chat-block div {
    margin-bottom: 10px;
}

/*CSS trang chu*/

#checkscreen {
    font-size: 1px;
}

.path-item {

    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
    margin-bottom: 3rem;
}

.path-item .card-content p {
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: .04em;
    padding-top: 20px;

    color: #7b8b8e;
    position: relative;
    z-index: 0;
    margin: 0;
}

.path-item ul.collection {
    margin: 0;
}

.path-item ul.collection li {
    padding: 20px;
}

.path-title {
    /*margin-top: 0;*/
    /*font-size: 24px;*/
    /*font-weight: 600;*/
    position: relative;

    /*color: #000000;*/

    font-size: 20px;
    font-weight: bold;
    color: #444;
    margin: 15px 0;
}

.path-title::before {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 100%;
    height: 2px;
    /*margin-left: -50px;*/
    background: #3c948b;
}

#job-menu .collection {
    margin: 0.5rem 0 1rem;
}

#job-menu .row {
    margin-bottom: 0;
}

/*#job-menu .collection-item{*/
/*font-weight: 600;*/
/*border-bottom: none !important;*/
/*}*/
#course_title {
    font-weight: 500;
    font-size: 32px;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

#price-list, #check-out {
    margin: 50px auto;
    width: 90%;
    max-width: 1280px;
}

.price-header h2 {
    font-weight: 800;
}

#price-list-title h4, #check-out-title h4 {
    margin-bottom: 50px;
}

#price-list .card {
    position: relative;
    padding: 0;
    border-radius: 4px;
    background: white;
    text-align: left;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.15);
    margin: 0 0 30px;
}

#price-list .card .card-content, #price-list .card .card-action, #price-list .card .card-reveal {
    padding: 30px;
}

.basic-course, .standard-course, .intern-course {

}

.basic-course {
    top: 60px;
}

.feature-item {
    position: relative;
    line-height: 1.5em;
    margin-bottom: 20px;
    padding: 0 0 0 34px;
    list-style: none;
    vertical-align: baseline;
    font-size: 16px;
}

.feature-item:before {
    content: "";
    background: url("images/check.png");
    font-size: 1.5em;
    /*content: "\f058";*/
    /*font-family: "FontAwesome" ;*/
    position: absolute;
    top: -1px;
    left: 0;
    width: 24px;
    height: 24px;
    color: #5fcf80;
}

.basic-course .feature-item:before {
    color: #00796b;
}

.standard-course .feature-item:before {
    color: #0059bc;
}

.intern-course .feature-item:before {
    color: red;
}

.feature-list {
    min-height: 288px;
}

.feature-list li:before {
    content: "\f00c";
}

.price-number span {
    font-weight: 500;
    font-size: 4vmin;
    line-height: 4.3vmin;
}

.course {
    max-height: 661px;
}

.course-price {
    text-align: right;

    font-size: 20px;
    /*font-size: 28px;*/
    font-weight: bolder;
    margin: 0;
}

.review-item {
    overflow: visible;
    width: auto;
    height: auto;
    position: relative;
    z-index: 2;
    box-shadow: none;
    box-sizing: border-box;
    margin-bottom: 10%;
    font-size: 1.2em;
    line-height: 1.3;
}

.review-item:before {
    content: '“';
    font-size: 124px;
    line-height: 124px;
    color: #feea3a;
    position: absolute;
    left: 36%;
    top: -35px;
}

.review-name:after {
    content: " ,";
}

#main_row_3, .parallax-course {
    width: 100%;
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4));
    background: -o-linear-gradient(left, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5));
    background: -ms-linear-gradient(left, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5));
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5));

}

.parallax-content_2 {
    margin: 10% auto 7%;
    width: 90%;

    max-width: 1170px;
}

#submit-review button {
    margin-bottom: 50px;
}

#submit-review {
    margin-top: 40px;
}

/*CSS trang course*/

.course-parallax-content {
    width: 90%;
    margin: 0 auto;
}

#back2course {
    margin-top: 20px;
    width: 100%;
    line-height: 1.5em;
    margin-bottom: 20px;
}

#back2course a {
    color: white;
}

#back2course span {
    margin-left: 5px;
    margin-right: 5px;
}

#center-title {
    /*width: 66.667%;*/
    height: 100%;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}

.para-container {
    width: 100%;
    margin: 0 auto;
    max-width: 1280px;
    padding-bottom: 20px;
}

.video-product > .video-container {
    margin: 0 auto;
    width: 90%;

}

#all-lession-title, #video-product-title, #course-benifit-title, #course-result-title, #course-author-title, #comment-list-title, #course-relate-title {

    border-bottom: 4px solid #2E3236;
    color: #2E3236;
    font: bold 18px "pt-sans", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    width: 100%;
    display: inline-block;
    margin-bottom: 20px;
    padding-bottom: 10px;
    text-transform: none;

}

#course-benifit-content li, #course-result-content li {
    list-style: disc inside;
    margin-left: 20px;

}

#course-author-content, #course-relate-content {
    margin: 20px auto;
}

#course-author-content > .col, #course-relate-content > .col {
    padding-left: 0;
}

.course-author-info p {
    margin: 0;
    line-height: 25px;
    font-weight: 400;
}

#author-social {
    height: 50px;

}

.author-social-item i {
    height: 35px;
    margin-top: 15px;
    margin-right: 20px;
}

.comment:first-child {
    border-top: 1px solid #ddd;

}

.comment {
    padding-top: 30px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 30px;
    padding-bottom: 13px;
}

.comments-item-title {
    font-size: 15px;
    font-weight: bolder;
    margin-bottom: 15px;
}

.course-relate {
    margin-bottom: 30px;
}

#course-relate-content .card-content {
    padding: 10px !important;
}

#bot-register {
    padding: 44px 0 45px
}

.all-course {
    margin: 0;
}

.all-lesson .valign-wrapper {
    height: 100px;
}

.all-lesson .valign-wrapper .valign {
    margin: 0 auto;
}

/*Css check-out page*/

#bill {
    border-radius: 8px;
}

#check-out-form {
    padding-top: 20px;
}

#check-out-content {
    margin: 30px auto;
    width: 90%;
    max-width: 600px;
}

#price-content > .card {
    position: relative;
    margin: 20px auto;
    max-width: 400px;
}

#price-list .col {
    padding: 0 1.25rem;
}

#price-content .course-title {
    font-weight: 600;
    font-size: 26px;
}

#price-list span.card-title i {
    line-height: 36px;
}

#price-content span.course-title i {
    line-height: 48px;
}

.form-content {
    margin: 30px auto;
    padding-left: 40px;
    padding-right: 40px;
}

.form-title h4 {
    margin: 40px auto 20px;
    font-weight: 200;
    line-height: 1.2;
    font-size: 48px;
}

.form-title::after {
    border-bottom: 1px solid #000;
    content: "";
    display: block;
    margin: 0 auto;
    padding-bottom: 30px;
    width: 25%;
}

.form-text, .form-number {
    font-size: 18px;
    font-weight: 600;
}

#send-bill {
    margin: 40px auto 0;
    height: auto !important;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 2px;
    padding: 15px 25px;
}

.form-number::after {
    content: " đ";
    display: inline;
}

/*CSS trang blog*/

#breadcrumb-content, #search-top {
    margin: 0;
    color: #000;
}

#breadcrumb-content a.breadcrumb {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.7);
}

#breadcrumb-content a.breadcrumb:before {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.7);
}

#breadcrumb-content a.breadcrumb:last-child {
    font-weight: bold;
}

.page-heading {
    padding-top: 20px;
    /*padding-bottom: 20px;*/
}

.page-heading h2 {
    text-align: left;
}

.search-input .input-field label.active {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    font-weight: bold;
}

.search-input .input-field > i, #main-book-content .input-field > i {
    top: 0.6rem;
}

.search-input input[type=search], #main-book-content input[type=search] {
    font-size: 1.5rem;

}

.search-input .input-field input[type=search] ~ .material-icons {
    font-size: 3rem;
}

.search-bar {
    margin-top: calc(20px + 0.5rem);
    padding: 0;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1);
}

.search-bar ul {
    border: none;
    box-shadow: none;
    margin: 0;
}

.search-bar .collapsible-header {
    border: none;
    height: calc(3rem + 30px);
}

.search-bar .collapsible-body {
    border: none;
    box-shadow: none;
    border-top: 1px solid;
}

.search-bar span {
    font-size: 1rem;
    line-height: 3;
    margin: 14px;
}

#search {
    border-bottom: none;
}

.filter-tag {
    padding: 15px;
}

.filter-tag ul.collapsible {
    position: relative;
}

.tags li {
    display: inline-block;
}

.chip {
    border: 2px solid rgba(48, 73, 97, 0.1);
    color: rgba(48, 73, 97, 0.6);
    background: transparent;
    margin: 10px 5px;
    height: auto;
    -webkit-transition: border-color 0.15s ease, background-color 0.15s ease, color 0.15s ease;
    transition: border-color 0.15s ease, background-color 0.15s ease, color 0.15s ease;
}

.chip.large {
    padding: 12px 32px;
    font-size: 1.2rem;
}

.chip:hover {
    border: 2px solid teal;
    color: teal;
    -webkit-transition: border-color 0.15s ease, background-color 0.15s ease, color 0.15s ease;
    transition: border-color 0.15s ease, background-color 0.15s ease, color 0.15s ease;
}

.chip.white:hover{
    background: white!important;
    color: #5fcf80;
    border: 2px solid #5fcf80;
}
.chip.square {
    border-radius: 4px;
}

.chip.dashed {
    border: 2px dashed;
}

.chip.teal {
    border: 2px solid #00BCD4;
    color: #00BCD4;
    background: transparent !important;
}

.chip.teal:hover {
    border: 2px solid teal;
    color: teal;
    background: transparent !important;
}

.chip.red {
    color: #FF9800;
    border: 2px solid #FF9800;
    background: transparent !important;
}

.chip.red:hover {
    color: red;
    border: 2px solid red;
    background: transparent !important;
}

.chip.white {
    color: rgba(248, 244, 255, 0.97);
    border: 2px solid rgba(248, 244, 255, 0.97);
    background: transparent !important;
}

.chip.white:hover {
    color: white;
    border: 2px solid white;
    background: transparent !important;
}

#test1, #test2, #test3, #test4 {
    transition: all .4s ease;
}

#test2, #test3, #test4 {
    padding-bottom: 20px;
    border-bottom: 1px solid #d2d6d5;
}

.search-wrapper {
    max-width: 400px;
    margin: 0;
}

.search-wrapper > .input-field {
    padding-left: 15px;
}

input#blog-search, input#blog-search:focus {
    height: 1.5em;
    border-bottom: none !important;
    box-shadow: none;
}

.search-wrapper > .input-field > i.material-icons {
    position: absolute;
    top: 0;
    right: 10px;
    cursor: pointer;

}

.search-wrapper .book-rate {
    margin-top: 20px;
}

.search-btn {
    /*z-index: 3;*/
    /*background: none;*/
    /*border: none;*/
    top: 7px;
    opacity: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.page-heading h2 {
    font-size: 32px;
    line-height: 50px;
    color: #307699;
    font-weight: 500;
    margin: 0 auto;
}

.most-view-title h3, .top-author-title h3, .newest-title h3 {
    /*color: #ffffff;*/
    /*font-family: ', sans-serif;*/
    font-size: 24px;
    font-weight: 300;
    line-height: 28px;
    margin: 0 0 28px;
    display: inline-block;
}

.main-blog-bottom {
    width: 100%;
    height: auto;
    padding-top: 40px;
    padding-bottom: 40px;
}

.top-author-content > .col > .card > .card-content > img {
    width: 150px;
    height: 150px;
    overflow-y: hidden;
}

.salary, .expire {
    position: relative;
    padding-left: 2rem;
}

.salary:before, .expire:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 4px;
    background-color: red;
}

.salary i, .expire i {
    margin-right: 1em;
}

.path-item:hover .job-card-image i {
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    transform: translateY(-5px);

    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;

}

.path-item .info {
    text-transform: uppercase;
}

/*CSS trang detail*/

.post-content {
    padding: 40px 0;
    margin: 0 auto;
    width: 100%;
    overflow-y: hidden;

}

.header-post {

    padding: 0;
    overflow: hidden;
    position: relative;

}

.header-post:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100px;
    height: 2px;
    margin-left: -50px;
    background: #3c948b;
}

.header-post h1 {
    font-size: 2.5em;
    line-height: normal;
    margin-bottom: 23px;
    font-weight: 900;
}

.header-post .info {
    position: relative;
    padding: 30px 0 10px 0;
    line-height: 190%;
    color: #3c948b;
    overflow: hidden;
}

.header-post .info::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 150px;
    height: 6px;
    margin-left: -75px;
    background: url("http://www.awwwards.com/bundles/tvweb/images/svg/hr-meandering.svg?2") no-repeat;
    background-size: 100%;
}

.header-post .info li {
    display: inline-block;
}

.header-post .info li:after {
    content: '/';
    margin: 0 5px;
}

.header-post .info li:last-child::after {
    content: "";
    display: none;
    margin: 0 5px;
}

.list-share {
    display: inline-block;
    padding-bottom: 70px;
}

.list-share li span {
    display: block;
    height: 49px;
    text-align: center;
    color: #343434;
    padding-top: 5px;
}

.list-share li {
    float: left;
    width: 49px;
    height: 49px;
    margin-right: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    overflow: hidden;
    -webkit-transition: all .25s ease-out;
    transition: all .25s ease-out;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.heading-title-large {
    font-size: 55px;
    margin-bottom: 23px;
    font-weight: normal;
}

.footer-post {
    position: relative;
    padding: 50px 0 0 0;
    text-align: center;
    overflow: hidden;
}

.footer-post figure {
    width: 120px;
    margin: 0 auto 20px auto;
    overflow: hidden;
}

.footer-post figure:after {
    content: '';
    display: block;
    clear: both;
}

.footer-post .author {
    font-size: 19px;
    font-style: italic;
    color: #313131;
    margin-bottom: 23px;
    font-weight: normal;
    line-height: 170%;
}

.footer-post p {
    margin: 0;
    font-style: italic;
}

.footer-post p.link {
    margin-top: -23px;
}
.featured-post{
    text-align: center;
    position: relative;
    background-color: #5fcf80;
    padding: 100px 0 80px 0;
    border-bottom: solid 1px #e9f0f3;
    z-index: 2;
}
.featured-post:before {
    -webkit-transition: background-color 200ms ease-in-out;
    -moz-transition: background-color 200ms ease-in-out;
    transition: background-color 200ms ease-in-out;
    z-index: 10;
    border-radius: 5px;
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.featured-post.has-image-bg:before{
    background-color: rgba(95, 207, 128, 0.81) ;
}
.featured-post.has-image-bg {
    background-size: cover;
    background-position: 50%;
}

.featured-post h1, .featured-post p, .featured-post a {
    color: #fff;
    position: relative;
    z-index: 15;
}
.featured-post h1{
    font-size: 26px;
}
.main-post {
    margin-bottom: 40px;
}

.main-post h2 {
    font-weight: 400 !important;
    color: #474747 !important;
    font-size: 22px !important;
    text-align: left;
}

.main-post p {
    font-size: 14px;
    text-align: left;
}

.main-post img {
    max-width: 100%;
    height: auto;
}

.post-nav, .location-nav {
    /*background: #f9f9f9;*/
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;

}

.post-nav .post-next:hover .heading, .post-nav .post-previous:hover .heading {
    text-decoration: none;
    color: #2e9df7;
}

.post-nav .heading {
    color: black;
}

.post-nav span.quiet {
    color: grey;
    font-size: 0.8em;
}

.post-nav > a > .thumb {
    float: left;
    -moz-border-radius: 160px;
    -webkit-border-radius: 160px;
    border-radius: 160px;
    overflow: hidden;
    display: block;
    margin: 1.5em 0.5rem;
}
.post-nav > a > .thumb img{
    width: 64px;
    height: 64px;
}
.post-nav > a > .v-align {
    vertical-align: middle;
    display: table-cell;
    width: 100%;
    padding-right: 0;
}

.post-nav .home-link {
    border: 1px solid #d5d5d5;
    color: #6b6b6b;
    background-color: #F4F4F4;
    box-shadow: inset 0 1px 1px #fff;
    width: 120px;
    margin: 0 -60px;
    position: relative;
    top: 48px;
    float: left;
    padding: 0 0 .8em;
    text-align: center;
}

.post-nav .caption, .post-nav .heading, .post-nav h1, .post-nav h2, .post-nav h3 {
    font-weight: 600;
    font-size: 1em;
    line-height: 1em;
    text-transform: none;
}

.post-nav .heading {
    font-size: 1.25em;
    display: block;
    -webkit-transition: .1s linear all;
    -moz-transition: .1s linear all;
    transition: .1s linear all;
}

.post-nav .post-next, .post-nav .post-previous {
    width: 50%;
    display: table;
    float: left;
    min-height: 130px;
    background-size: 50% auto;
    -webkit-transition: .1s linear all;
    -moz-transition: .1s linear all;
    transition: .1s linear all;
}

.post-nav .post-previous {
    /*background: url(/blog/wp-content/themes/cw-2013/images/prev.png) 1% 50% no-repeat;*/
    padding-left: 10px;
    padding-right: 60px;
    border-right: 1px solid #dcdcdc;
}

.post-nav .post-next {
    float: right;
    /*background: url(/blog/wp-content/themes/cw-2013/images/next.png) 99% 50% no-repeat;*/
    padding-right: 10px;
    padding-left: 65px;
}
.grid .card{
    border: 1px solid #ccc;
}
.grid-item > .card > .card-content > h2.card-title, .most-view-content h2.card-title {
    font-size: 18px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 12px;
    line-height: 24px !important;
}

.grid-item a {
    color: #000;
}

.page-404, .page-500 {

}

.page-404-content, .page-500-content {
    margin: 0 auto;
    padding: 72px 0;
}

.page-404-content h2, .page-500-content h2 {
    font-size: 40px;
}

.page-404-content h5, .page-500-content h5 {
    font-size: 16px;
}

.page-404-content h2, .page-404-content h5, .page-500-content h5, .page-500-content h2 {

    /*color: #384047;*/
    font-style: normal;
    line-height: 1.4;
    margin-bottom: 15px;
    margin-top: 15px;
    text-rendering: optimizeLegibility;
    font-weight: 500;
}

.page-404 img, .page-500 img {
    max-width: 128px;
}

.report {
    padding: 80px 0;
}

.report h5 {
    font-size: 2rem;
    font-weight: 500;
}

.report p {
    font-size: 16px;
}

.filter > ul.collapsible {
    box-shadow: none;
    border: none;

}

.filter > ul.collapsible li {

    /*border-left: 1px solid #d2d6d5;*/
    /*border-right: 1px solid #d2d6d5;*/
    transition: background 0.4s ease;
    -webkit-transition: background 0.4s ease;
}

.filter > ul.collapsible > li > .collapsible-header {

    display: inline-block;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    /*border-bottom: 1px solid #ddd;*/
    background-color: transparent;
    height: 64px;
    line-height: 64px;
    padding: 0 15px;
    color: #313131;
    -webkit-transition: background .25s ease-out, color .25s ease-out;
    transition: background .25s ease-out, color .25s ease-out;
    /*border-left: 1px solid tea;*/
    text-transform: none;
}

.filter > ul.collapsible > li.active > .collapsible-header {
    border-bottom: none;
}

.filter > ul.collapsible > li > .collapsible-header span {
    position: relative;
    padding-right: 30px;
}

.filter > ul.collapsible > li > .collapsible-header span::before, .filter > ul.collapsible > li > .collapsible-header span::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: 19px;
    width: 2px;
    height: 8px;
    margin-top: -3px;
    background: #A6ABAB;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: all .25s ease-out;
    transition: all .25s ease-out;
}

.filter > ul.collapsible > li > .collapsible-header span::after {
    right: 15px;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.filter > .collapsible > li.active > .collapsible-header span::after {
    right: 19px;
    /*-webkit-transform: rotate(135deg);*/
    /*transform: rotate(135deg);*/
}

.filter > .collapsible > li.active > .collapsible-header span::before {
    right: 15px;
}

.filter ul.collapsible li {
    overflow-y: hidden;
}

.filter nav {
    box-shadow: none;
    margin-bottom: 20px;
    background: white;
}

.filter nav .nav-wrapper i {
    height: 56px;
    line-height: 56px;
}

/*CSS filter cu*/

.filter > .tabs {
    border-top: 1px solid #d2d6d5;
    border-bottom: 1px solid #d2d6d5;
}

.filter > .tabs > .indicator {
    height: 0;

}

.filter > .tabs, .filter > .tabs > .tab {
    height: 52px;
    background: transparent;
    /*border-bottom: 1px solid teal;*/
}

.filter > .tabs > .tab {
    position: relative;
    height: 50px;
    line-height: 50px;
    border-left: 1px solid #d2d6d5;
    /*border-right: 1px solid #d2d6d5;*/
    transition: background 0.4s ease;
    -webkit-transition: background 0.4s ease;
}

.filter > .tabs > .tab:first-child {
    border-left: none;
    font-weight: 700;
}

.filter > .tabs > .tab:last-child {
    border-right: none;
}

.filter > .tabs > .tab:hover {
    background: #ffffff;
    -webkit-transition: background .25s ease-out, color .25s ease-out;
    transition: background .25s ease-out, color .25s ease-out;
}

.filter > .tabs > .tab a span {
    display: block;
    height: 50px;
    line-height: 50px;
    padding: 0 15px;
    color: #313131;
    -webkit-transition: background .25s ease-out, color .25s ease-out;
    transition: background .25s ease-out, color .25s ease-out;
    /*border-left: 1px solid tea;*/
    text-transform: none;

}

.filter > .tabs > .drop a {
    padding-right: 30px;
    cursor: pointer;
}

.filter > .tabs > .tab a {
    display: inline-block;
}

.filter > .tabs > .drop span::before, .filter > .tabs > .drop span::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: 19px;
    width: 2px;
    height: 8px;
    margin-top: -3px;
    background: #A6ABAB;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: all .25s ease-out;
    transition: all .25s ease-out;
}

.filter > .tabs > .drop span::after {
    right: 15px;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.filter > .tabs > .tab.drop > .active {
    background: #ffffff;
}

.filter > .tabs > .tab > .active span::after {
    right: 19px;
    /*-webkit-transform: rotate(135deg);*/
    /*transform: rotate(135deg);*/
}

.filter > .tabs > .tab > .active span::before {
    right: 15px;
    /*-webkit-transform: rotate(225deg);*/
    /*transform: rotate(225deg);*/
}

.filter label i {
    color: black;
}

.search-keyword p, .keyword {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.keyword {
    /*padding-top: calc(50px - 1.5em);*/
    color: #69a7ae;
    /*border-bottom: 2px solid #ffffff;*/
    font-size: 1.5em;
    clear: both;
    font-weight: normal;
}

.keyword:before {
    content: ' "';
}

.keyword:after {
    content: '" ';
}

.result-filter h2, .post-hot h2 {
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin: 10px auto;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    z-index: 3;
}

.search-sidebar ul.collection {
    margin: 0;
}

.search-sidebar span.badge.new:after {
    content: " kết quả";
}

.search-sidebar ul.collection {
    margin-bottom: 2em;

}

h3.widget-title {
    border-bottom: 4px solid #2E3236;
    color: #2E3236;
    font-size: 1.2em;
    width: 100%;
    display: inline-block;
    margin-bottom: 20px;
    padding-bottom: 10px;
    text-transform: none;
}

/*CSS trang Search*/

#search-parallax, #all-course-parallax {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

#search-parallax h1, #all-course-parallax h1 {
    font-size: 2.5em;

}

#search-page-title h2 {
    text-align: center;
    color: #899193;
    font-size: 28px;
    display: block;
    font-weight: 500;
    line-height: 1.4;
    margin: 40px 0 20px;
}

#search-page-title h2 span, #search-page-title h2 strong {
    color: #2b3133;
}

#search-wrapper .row, #search-parallax .row, #all-course-wrapper .row, #all-course-parallax .row {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

#search-parallax .search-input {
    border: 2px solid rgba(48, 73, 97, 0.9);
}

.search-input {
    border-bottom: 1px solid rgba(48, 73, 97, 0.9);
}

#search-wrapper .path-item {
    max-width: 600px;
}

#search-wrapper .card-image {
    -webkit-transition: background-color 200ms ease-in-out, background-position 200ms ease-in-out;
    -moz-transition: background-color 200ms ease-in-out, background-position 200ms ease-in-out;
    transition: background-color 200ms ease-in-out, background-position 200ms ease-in-out;
    background-color: #5fcf80;
    background-size: cover;
    height: 180px;
    overflow: hidden;
    position: relative;
}

#search-wrapper .card-image::before {
    -webkit-transition: background-color 200ms ease-in-out;
    -moz-transition: background-color 200ms ease-in-out;
    transition: background-color 200ms ease-in-out;
    border-radius: 5px 5px 0 0;
    background-color: rgba(182, 192, 199, 0.6);
    position: absolute;
    content: " ";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.grid .card-action, #search-wrapper .card-action {
    padding: 10px;

}

.card-action time, #search-wrapper .card-action time {
    height: 36px;
    margin: 10px;
    line-height: 36px;

}

#search-wrapper .book-rate {
    margin-top: 20px;
}

.rating.dynamic {
    position: absolute;
    left: 0;
    overflow: hidden;
    padding: .4px 0 0 1px;
}

.rating {
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    display: inline-block;
    padding: 1px;
}

.rating:before {
    font-family: FontAwesome;
    content: "\f005 \f005 \f005 \f005 \f005";
    color: #aaa;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 4px;
}

.rating.dynamic:before {
    color: #fba617;
}

.book-rate {
    padding: 5px;
    padding-left: 0;
    text-align: left;
}

.job-card-image {
    -webkit-transition: background-color 200ms ease-in-out, background-position 200ms ease-in-out;
    -moz-transition: background-color 200ms ease-in-out, background-position 200ms ease-in-out;
    transition: background-color 200ms ease-in-out, background-position 200ms ease-in-out;
    background-color: #5fcf80;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    border-radius: 5px 5px 0 0;
    height: 125px;
    text-align: center;
    position: relative;
    margin: 0 -1px;
    overflow: hidden;
}

.job-card-image i {
    margin: 0 auto;
    color: white;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}

.path-item .card-action a {
    margin-right: 0 !important;
}

/*CSS trang search job*/

.search-job-item {
    box-shadow: none;
    border-bottom: 1px solid rgba(160, 160, 160, 0.9);
}

.email-me-job {

}

.email-me-job .m4 {
    height: 100%;
}

/*CSS trang list course*/
@media (min-width: 600px) {
    .search-input{
        border-bottom: none;
    }
    #checkscreen {
        font-size: 2px;
    }

    .path-item {
        max-width: 400px;
    }

    .page-404, .page-500 {

    }

    .review-item {
        /*max-width: 600px;*/
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5%;
    }

    .course-price {
        font-size: 24px;
    }

    #check-out-content {
        width: 80%;
        max-width: 600px;
        padding: 20px;
    }

    #price-list .card {
        margin-bottom: 0;
    }

    #footer .holder .logo {
        float: left;
        width: 215px;
        margin-right: 21px;
    }

    #footer {
        text-align: left;
    }

    #footer p {
        display: inline;
        margin-right: 5px;
    }

    .post-nav > a > .v-align {
        padding-right: 1em;
    }

    .header-post h1 {
        font-size: 3.5em;

    }

    .post-content {
        width: 95%;
    }

    #bot-register {
        padding: 64px 0 65px;
    }

    .para-container {
        width: 90%;
    }

    #center-title {
        width: 50%;
    }

    .course-parallax-content {
        width: 100%;
    }

    #main_row_3 .section {
        top: 20%;
        margin-bottom: 2%;
    }

    #book-content, #list-course-content, #review-content, #list-link-content, #video-promotion-content, #blog-content, #how-learn-content {
        max-width: 800px;
        width: 85%;
    }

    #course_container {
        width: 80%;
    }

    #video-promotion-text {
        margin: 0 auto;
    }

    #video-promotion-text h3 {
        margin: 5.99% 0;
        font-size: 2.21em;
    }

    .social-btn {
        font-size: 1em;
    }

    .social-btn img {
        margin-right: 10px;
    }

    .col.s12.m6.parallax-text {

        margin-top: 2%;
    }

    .parallax-top > .parallax-content {
        width: 88%;
        margin-top: 6%;
        margin-bottom: 6%;
    }

    .brand-logo img {
        max-height: 44px;

    }

    .log-btn {
        padding: 12px 0;
    }

    .modal form {
        margin: 0 auto;
    }

    .filter nav {
        float: right;
        min-width: 300px;
        margin-bottom: 0;
    }

    .filter nav .nav-wrapper i {
        height: 64px;
        line-height: 64px;
    }

    .page-404 img, .page-500 img {
        max-width: 192px;
    }
}
@media (min-width: 768px){
    .featured-post {
        padding: 100px 0 120px 0;
    }
    .featured-post h1{

    font-size: 36px;

    }
}
@media only screen and (min-width: 992px) {

    .nav-wrapper.container {
        max-width: 1280px;
    }

    #check-out-content {
        width: 70%;
        max-width: 800px;
        padding: 40px;
    }

    .video-product > .video-container {
        width: 80%;
    }

    #center-title {
        width: 50%;
    }

    .course-price {
        font-size: 26px;
    }

    #book-content, #list-course-content, #review-content, #list-link-content, #video-promotion-content, #blog-content, #how-learn-content, #course_container {
        width: 90%;
        max-width: 1170px;
    }

    #video-promotion-text {
        margin: 2% 0;
        padding: 0 1.25em;

    }

    #video-promotion-youtube {
        max-width: 450px;
        margin: 0 auto;

    }

    #list-course-content .m4 {
        padding: 0 1.25em;
    }

    .social-btn {
        font-size: 1.1em;
    }

    .social-btn img {
        margin-right: 15px;
    }

    .parallax-top > .parallax-content {
        width: 84%;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .parallax-title h3, {
        display: inline-block;
        /*background-color: #8670FF;*/
        line-height: 1.2em;
        margin: 20px auto 0 auto;
        padding-left: 5px;
    }

    .col.s12.m6.parallax-text {
        margin-top: 2%;
    }

    #list-course-title h2, #book-title h2, #review-title h2, #list-link-title h2, #blg-title h2, #job-title h2, #how-learn-title h2, #video-promotion-text h2 {
        font-size: 32px;

    }

    .page-404 img, .page-500 img {
        max-width: 256px;
    }

}

@media (min-width: 1200px) {
    .nav-wrapper.container {

    }

    .parallax-top > .parallax-content {
        width: 78%;
        max-width: 1280px;
    }

    #parallax-sigh-up .row form, #social-button {
        max-width: 450px;
    }

    .video-product > .video-container {
        width: 70%;
    }

    .row .col.o3 {
        width: 25%;
    }
}

/* Implement xl screen size */
@media only screen and (min-width: 1366px) {
    .row .col.xl1 {
        width: 8.33333%;
        margin-left: 0;
    }

    .row .col.xl2 {
        width: 16.66667%;
        margin-left: 0;
    }

    .row .col.xl3 {
        width: 25%;
        margin-left: 0;
    }

    .row .col.xl4 {
        width: 33.33333%;
        margin-left: 0;
    }

    .row .col.xl5 {
        width: 41.66667%;
        margin-left: 0;
    }

    .row .col.xl6 {
        width: 50%;
        margin-left: 0;
    }

    .row .col.xl7 {
        width: 58.33333%;
        margin-left: 0;
    }

    .row .col.xl8 {
        width: 66.66667%;
        margin-left: 0;
    }

    .row .col.xl9 {
        width: 75%;
        margin-left: 0;
    }

    .row .col.xl10 {
        width: 83.33333%;
        margin-left: 0;
    }

    .row .col.xl11 {
        width: 91.66667%;
        margin-left: 0;
    }

    .row .col.xl12 {
        width: 100%;
        margin-left: 0;
    }

    .row .col.offset-xl1 {
        margin-left: 8.33333%;
    }

    .row .col.offset-xl2 {
        margin-left: 16.66667%;
    }

    .row .col.offset-xl3 {
        margin-left: 25%;
    }

    .row .col.offset-xl4 {
        margin-left: 33.33333%;
    }

    .row .col.offset-xl5 {
        margin-left: 41.66667%;
    }

    .row .col.offset-xl6 {
        margin-left: 50%;
    }

    .row .col.offset-xl7 {
        margin-left: 58.33333%;
    }

    .row .col.offset-xl8 {
        margin-left: 66.66667%;
    }

    .row .col.offset-xl9 {
        margin-left: 75%;
    }

    .row .col.offset-xl10 {
        margin-left: 83.33333%;
    }

    .row .col.offset-xl11 {
        margin-left: 91.66667%;
    }

    .row .col.offset-xl12 {
        margin-left: 100%;
    }
}


