*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {

}

body {
    min-height: 1200px;
    box-sizing: border-box;
    /*background-color: #f3f3f3;*/
    background-color:#e9eaea;
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
}
.page-header {
    margin: 0;
    padding: 0;
    background-color: #fff;
}

nav .nav-wrapper {
    padding: 0 30px;
    background-color: #FFF;
}

.brand-logo img {
    max-height: 44px;
    margin-top: 10px;
    /*margin-left: 20px;*/
}

nav ul a {
    display: inline-block;
    /*font-style: 1.5rem;*/
    padding: 0 15px;
    color: #000000 !important;
    /*box-sizing: border-box;*/
    /*padding-bottom: 5px !important;*/
}

nav ul li:hover, nav ul li:focus {
    background-color: #00796b;
}

nav ul li:hover a {
    /*color: #000000 !important;*/
    /*background-color: rgba(0,0,0,0.1);*/
    color: #ffffff !important;
    /*border-bottom: 5px solid #0288D1;*/
    transition: all .3s;
}

#main_row_1 {
    /*padding-top: 40px;*/
    /*padding: 0!important;*/
    /*background-color: #FFFFFF;*/
}
#main_row_2{
    padding-top: 40px;
    background-color: #e9eaea;
    padding-bottom: 40px;
    /*float: left;*/
}
#list-course-title h2,#book-title h2, #review-title h2,#list-link-title h2, #blg-title h2, #job-title h2{
    font-size: 32px;
    line-height: 38px;
    color: #307699;
    font-weight: 500;
}
#list-course-title h2{
    padding-bottom: 40px;
}

.parallax-container{
    background: -webkit-linear-gradient(left,rgba(0,0,0,0.6),rgba(0,0,0,0.4));
    background: -o-linear-gradient(left,rgba(0,0,0,0.8),rgba(0,0,0,0.5));
    background: -ms-linear-gradient(left,rgba(0,0,0,0.8),rgba(0,0,0,0.5));
    background: -moz-linear-gradient(left,rgba(0,0,0,0.8),rgba(0,0,0,0.5));
}
.parallax img{
    -webkit-filter: grayscale(0.1) sepia(1);
}
.parallax-top > .parallax-content{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: 10%;
}

.parallax-form-title{
    margin-bottom: 0;
    line-height: 2.8;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

form.col.s12.white.parallax-form{

    padding: 10px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
#parallax-title-top{
    height: 4em;
}
#typed{
    width: 100%;
    height: 4em;
    margin: 1.25rem auto .75rem;
    vertical-align: middle;
    color: lime;
    font-family: "Courier";
    /*font-size: 45px;*/
    font-size: 1.8125rem;

    /*line-height: 2.8125;*/
}

.typed-cursor{
    opacity: 1;
    color: lime;
    font-size: 1.8125rem;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}


@media (min-width: 769px) {
    .col.s12.m6.parallax-text {

        margin-top: 2%;
    }
    .parallax-top > .parallax-content{
        width: 88%;

        margin-top: 11%;
        margin-bottom:11%;
    }

}

@media (min-width: 993px){
    .parallax-top > .parallax-content{
        width: 84%;
        margin-top: 10%;
        margin-bottom: 10%;
    }
     .parallax-title h3, {
        display: inline-block;
        /*background-color: #8670FF;*/
        line-height: 1.2em;
        margin: 20px auto 0px auto;
        padding-left: 5px;
    }
    .col.s12.m6.parallax-text {
        margin-top: 2%;
    }
}
@media (min-width: 1200px){
    .parallax-top > .parallax-content{
        width: 78%;

        max-width: 1280px;
    }
     #parallax-sigh-up .row form{
        max-width: 450px;


    }
}


.parallax-title{
    margin-top: 20px;
}
.parallax-title h3{
    display: inline-block;
    margin: 60px auto 30px auto;
    font-size: 1.5em;
    font-weight: 400;
    /*text-align: center;*/
    padding-left: 5px;
    line-height: 1.5em;
}
#parallax-sigh-up h5, #parallax-sigh-up .row form{
    max-width: 400px;
    margin: 0 auto;
    float: none;

}

.mbl{
    padding-left: 10px;
    padding-right: 10px;
}

td{
    padding-left: 30px;
}
.link-cam{
    margin-right: 20px;
}

#course-info{
    margin-top:60px ;
}
#center-title h3 {
    font-weight: 300;
}

#center-title p {
    font-weight: 200;
    font-size: 1.1em;
}

#center-title .center {
    font-weight: 300;
}
.parallax-container, .section{
    width: 100%;
}
.parallax-bot{
    max-height: 300px;
}

.parallax-container {
    min-height: 450px;
    /*line-height: 0;*/
    height: auto;
    color: rgba(255,255,255,.9);
}



@media only screen and (max-width : 992px) {
    .parallax-container .section {
        position: absolute;
        top: 30%;
    }
    #index-banner .section {
        top: 10%;
    }
}
.section > .container{
    width: 90%;
}

@media(min-width : 768px) {
    #index-banner .section {
        top: 0;
    }

}
.icon-block{
    width: 70%;
    margin: 0 auto;
    padding: 0 5px;
    /*border-bottom: thin solid silver;*/
}
.ib-last{
    border-bottom: none;
}

.row {
    margin-bottom: 0 !important;
}
#row-right1 > .card{
    margin-top: 0!important;

}

#course_des {
    box-shadow: none;
}
#course_des img {
    margin-bottom: 10px;
    width: 50%;
}
#author_course {
    box-shadow: none;
    background-color: white !important;
}
.hr-gradient{
    border: none;
    height: 1px;
    background-image: -webkit-linear-gradient(left,#fff,#dcdcdc 50%,#fff);
    background-image: linear-gradient(to right,#fff,#dcdcdc 50%,#fff);
    background-repeat: no-repeat;
}
#main_row_4{
    /*background-color: #FFFFFF;*/
}
#main_row_4 .card{
    box-shadow: none !important;
}
#book-title h2{
    padding-bottom: 40px;
    padding-top: 40px;;
}
.book-name-item{
    font-weight: bold !important;
    line-height: 1.6 !important;

}
.book-name-description{
    box-sizing: border-box;
    overflow: hidden;
    max-height: 110px;
}
#video-promotion-content{
    margin: 40px auto !important;
}
#video-promotion-text{
    margin:2% auto;
    padding: 2%;
    color: #307699;

}
#book-content,#list-course-content,#review-content,#list-link-content,#video-promotion-content{
    margin: 0 auto;
    max-width: 400px;
    margin-bottom: 40px;
}
#list-course-content .m4, #video-promotion-content{
    padding: 0 .75em;
}
@media (min-width: 769px) {
    #book-content,#list-course-content,#review-content,#list-link-content,#video-promotion-content{
        max-width: 800px;
        width: 85%;
    }
    #video-promotion-text{
        margin: 0 auto;
    }
    #video-promotion-content{

        margin: 0px auto !important;
    }
    #video-promotion-text h3{
        margin: 5.99% 0;
        font-size: 2.21em;
    }
}


@media (min-width: 993px) {
    #book-content,#list-course-content,#review-content,#list-link-content,#video-promotion-content{
        max-width: 1170px;
        width: 90%;
    }
    #video-promotion-text{
        margin: 2% 0;
        padding: 0 1.25em;

    }
    #video-promotion-youtube{
        max-width: 450px;
    }
    #list-course-content .m4{
        padding: 0 1.25em       ;
    }
}
#course_container{
    margin: 0 auto;
    width: 90%;
    max-width: 1280px;
}

@media (min-width: 769px) {
    #main_row_3 .section{
        top: 20%;
        margin-bottom: 2%;
    }
}
.book-item img{
    max-height: 255px;
}


#main_row_5{
    background-color: #FFFFFF;
}

#main_row_5 .card{
    box-shadow: none !important;
}

#blg-content ul li, #job-content ul li{
    margin-bottom: 15px;
}
#blg-content ul li a,#job-content ul li a{
    font-weight: 600;
    color: #307699;
    font-size: 16px;
}
#blg-content ul li a:hover, #job-content ul li a:hover{
    color: #3782c4;
}


.card-title {
    padding-bottom: 20px !important;
}
.card-title h4{
    font-size: 1.14em;
}
.modal {
    width: 90%;
    max-width: 500px;
    max-height: 700px;
}
.mdl_form {
    background-color: #fafafa;
    /*margin: 0 auto 3rem;*/
    border-radius: 5px;
    /*padding: 1.5em 2rem 0.5rem;*/
}
.social-log{
    padding: 0 !important;
}
.social-log button{
    width: 44%;
    padding: 1% !important;
}
.social-log button:first-child{
    margin-right: 10%;
}
.mdl-button button {
    margin-top: 20px;
    margin-bottom: 20px;
}
.g-recaptcha div{
    width: auto!important;
}
.show_more{
    width: 80%;
    margin-bottom: 20px;
}

/*Footer Css*/
footer{
    padding-top: 20px;
}
#footer__logo{
    margin: 20px;
}
.footer_m4 p{
    margin: 20px;
}
#footer__company__links{
    padding: 20px;
}
#footer__company__links a{
    margin-right: 20px;
}

/*CSS trang chu*/

.path-item{
    border-radius: 8px;
}
.path-item .card-content p{
    font-size: 16px;
    font-weight: 300;
    color: rgb(57,61,64);
    text-indent: 20px;
}
.path-item:hover{
    /*background-color: #00796b !important;*/
    /*color: #fff !important;*/
    transition: all .5s;

}
.path-button a{
    margin: 15px auto 25px auto;
}

.badge{
}
.badge img{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    height: 100px;
    width: auto;
    border: 5px solid white;
}
.pbadge img{
   margin: 20px auto;
    height: 100px;
    width: auto;
    border: 5px solid white;
}
.path-title{
    font-size: 24px;
    font-weight: 300;
    height: 52px;
}
.bucket{
    margin: 0!important;
    margin-top: 20px !important;
    border-top: solid thin  silver;
}
.bucket-media img {
    margin: 20px;
    height: 60px;
}
.collection{
    margin:0 20px;
}
.collection-item{
    font-weight: 600;
    border-bottom: none !important;
}
#course_title{
    font-weight: 500;
    font-size: 32px;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
#price-list{
    margin: 0 auto;
    width: 90%;
    max-width: 1280px;
}
.price-header h2{
    font-weight: 800;
}
.feature-item{
    line-height: 1.6;
    font-size: 1.2em;
    font-weight: 300    ;
}
.feature-item:before{
    content: "\f00c  ";
    font-family: FontAwesome ;

}
.feature-list{
    min-height: 288px;
}
.feature-list li:before{
    content: "\f00c";
    /*font-family: FontAwesome;*/
}
.price-number span{
    font-weight: 500;
    font-size: 4vmin;
    line-height: 4.3vmin;
}
.course{
    max-height: 661px;
}
.course-price{
    text-align: center;
    line-height: 36px;
    height: 36px !important;

}


.review-item{
    overflow: visible;
    width: auto;
    height: auto;
    position: relative;
    z-index: 2;
    box-shadow: none;
    box-sizing: border-box;
    margin-bottom: 10%;
    font-size: 1.2em;
    line-height: 1.3;
}
@media (min-width:769px ) {
    .review-item{
        /*max-width: 600px;*/
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5%;
    }
}
.review-item:before{
    content: '“';
    font-size: 124px;
    line-height: 124px;
    color: #feea3a;
    position: absolute;
    left: 36%;
    top: -35px;
}
.review-name:after{
    content: " ,";
}
#main_row_3 .parallax-container{
    width: 100%;
    margin-bottom: 10%;
}
.parallax-content_2{
    margin-top: 10%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7%;
    max-width: 1170px;
}
#submit-review button{
    margin-bottom: 50px;
}
#submit-review {
    margin-top: 40px;
}





/*CSS trang course*/
.course-parallax-content{
    width: 90%;
    margin: 0 auto;
}
@media (min-width: 769px) {
    .course-parallax-content{
        width: 100%;
    }
}


#back2course {
    margin-top: 20px;
    width: 100%;
    line-height: 1.5em;
    margin-bottom: 20px;
}
#back2course a{
    color: white;
}
#back2course span {
    margin-left: 5px;
    margin-right: 5px;
}
#center-title {
    /*width: 66.667%;*/
    height: 100%;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 769px) {
    #center-title {
        width: 50%;
    }
}
@media (min-width: 993px) {
    #center-title {
        width: 50%;
    }
}
.para-container{
    width: 100%;
    margin: 0 auto;
    max-width: 1280px;
    padding-bottom: 20px;
}
@media (min-width: 769px) {
    .para-container{
        width: 90%;
    }
}

#triangle img {
    margin-top: -1px;
    margin-bottom: 30px;
}




.all-course{
    margin: 0;
}