#breadcrumb-content{
   margin: 20px 0 20px 0;
    color: #000;
}
#breadcrumb-content a.breadcrumb{
    font-size: 18px;
    color: rgba(0,0,0,0.7);
}
#breadcrumb-content a.breadcrumb:before{
    font-size: 18px;
    color: rgba(0,0,0,0.7);
}
#breadcrumb-content a.breadcrumb:last-child{
    font-weight: bold;
}


.page-heading{
    padding-top:20px;
    padding-bottom: 20px;
}
.page-heading h2{
    text-align: left;
}
.search-wrapper{
    max-width: 400px;
}
/*.search-wrapper.focused{*/
/*margin: 0;*/
/*transition: margin 0.2s ease;*/
/*}*/
.search-wrapper > .input-field{
    padding-left: 15px;
}

input#blog-search, input#blog-search:focus{
    height: 1.5em;
    border-bottom: none !important;
    box-shadow: none;
}
.search-wrapper > .input-field > i.material-icons {
    position: absolute;
    top: 0;
    right: 10px;
    cursor: pointer;

}

.search-btn{
    /*z-index: 3;*/
    /*background: none;*/
    /*border: none;*/
    top: 7px;
    opacity: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}


.page-heading h2{
    font-size: 32px;
    line-height: 50px;
    color: #307699;
    font-weight: 500;
    margin: 0 auto;
}


.most-view-title h3, .top-author-title h3,.newest-title h3{
    /*color: #ffffff;*/
    /*font-family: ', sans-serif;*/
    font-size: 24px;
    font-weight: 300;
    line-height: 28px;
    margin: 0 0 28px;
    display: inline-block;
}


#main-blog-content,#main-blog-most-view,#main-blog-top-author{
    margin: 0 auto;
    max-width: 400px;
}

.main-blog-bottom{
    width: 100%;
    height: auto;
    padding-top: 40px;
    padding-bottom: 40px;
}

.top-author-content > .col > .card > .card-content > img{
    width: 150px;
    height: 150px;
    overflow-y: hidden;
}


.grid-sizer,
.grid-item { width: 100%;

}

.gutter-sizer { width: 0; }

.grid-item--width2 { width: 100%;


}

.grid:after {
    content: '';
    display: block;
    clear: both;
}

main{
    min-height: 2000px;
}
@media (min-width: 769px) {
    .grid-sizer,
    .grid-item { width: 48%;
    }

    .gutter-sizer { width: 4%; }

    .grid-item--width2 { width: 100%;


    }
    #main-blog-content,#main-blog-most-view,#main-blog-top-author{
        width: 80%;
        max-width: 800px;
    }
    .most-view-title h3, .top-author-title h3, .newest-title h3{
        /*color: #ffffff;*/
        /*font-family: ', sans-serif;*/
        font-size: 34px;

        line-height: 38px;
        margin: 0 0 38px;

    }
    .page-heading h2{
        text-align: right;
    }
}


@media (min-width: 993px) {
    .grid-sizer,
    .grid-item { width: 32%; }

    .gutter-sizer { width: 2%; }
    .grid-item--width2 { width: 66%; }

    #main-blog-content,#main-blog-top-author,#main-blog-most-view{
        width: 90%;
        max-width: 1170px;
    }

.grid-item > .card > .card-image{
    max-height: 300px;
    overflow: hidden;
}
.grid-item > .card > .card-image:hover img{
    -webkit-transition: all 400ms ease-in;
    -webkit-transform: scale(1.1);
    /*-ms-transition: all 400ms ease-in;*/
    -ms-transform: scale(1.1);
    -moz-transition: all 400ms ease-in;
    -moz-transform: scale(1.1);
    transition: all 400ms ease-in;
    transform: scale(1.1);
    opacity: 1;
}
.grid-item > .card > .card-image img{
    -webkit-transition: all 400ms ease-in;
    -webkit-transform: scale(1.0);
    /*-ms-transition: all 400ms ease-in;*/
    -ms-transform: scale(1.0);
    -moz-transition: all 400ms ease-in;
    -moz-transform: scale(1.0);
    transition: all 400ms ease-in;
    transform: scale(1.0);
    opacity: 0.8;
}

}
.grid-item > .card > .card-content > h2.card-title, .most-view-content  h2.card-title {
    font-size: 18px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 12px;
    line-height: 24px !important;
}