
 .card{
    box-shadow: none;
    background: transparent;
    border: 1px solid silver;
}
.grid-item a{
    color: #000;
}
.grid-item .card-action  a{
    color: #cccccc;
}
.grid-sizer,
.grid-item { width: 100%;
    -webkit-transition: left .4s ease-in-out, top .4s ease-in-out .4s;
    -moz-transition: left .4s ease-in-out, top .4s ease-in-out .4s;
    -o-transition: left .4s ease-in-out, top .4s ease-in-out .4s;
    transition: left .4s ease-in-out, top .4s ease-in-out .4s;
}

.gutter-sizer { width: 4%; }


.grid:after {
    content: '';
    display: block;
    clear: both;
}
.template-price {
    background: #1c64a1;
    font-size: 18px;
    line-height: 18px;
    height: 27px;
    color: #fff;
    padding: 4px 10px 5px 10px;
    font-weight: bold;
    z-index: 2;
    position: relative;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.2);
}
.price-corner-right {
    position: absolute;
    display: block;
    border-color: transparent;
    border-style: solid;
    top: 18px;
    right: -9px;
    border-left-color: #3b3b3b;
    content: " ";
    border-width: 9px;
    box-sizing: border-box;
    z-index: 1;
}
.price-corner-left {
    position: absolute;
    display: block;
    top: 0;
    left: -9px;
    box-sizing: border-box;
    z-index: 2;
}
.price-block {
    position: absolute;
    bottom: -14px;
    right: -10px;
}
.rating.dynamic{
    position: absolute;
    left: 0;
    overflow: hidden;
    padding: .4px 0 0 1px;
}
.rating{
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    display: inline-block;
    padding: 1px;
}
.rating:before {
    font-family: FontAwesome;
    content: "\f005 \f005 \f005 \f005 \f005";
    color: #aaa;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 4px;
}
.rating.dynamic:before {
    color: #fba617;
}
.book-rate{
    padding: 5px;
    padding-left: 0;
    text-align: left;
}
main{
    min-height: 1200px;
}
#main-book-content,#main-blog-most-view,#main-blog-top-author{
    margin: 0 auto;
    max-width: 600px;
}
.gird-item .card .chip{
    background: #cccccc;
}
 .card-title a:hover{
    color: #6d8797;
    text-decoration: none;
}
 .card .card-content .card-title a{
    font-size: 15px;
    line-height: 24px;
    font-weight: bold;

}
.grid-item .card .card-content .card-title{
    line-height: 1.5;
}
.card-author{
    color: #6d8797;
}
.collapsible .collapsible-body p{
    padding: 1em 1.5em 1em;
}
.collapsible .collapsible-body p label{
    font-size: 0.8em;
}
li:not(:first-child) .collapsible-header{
    background: transparent;
}
li .collapsible-header{
    position: relative;
    overflow: hidden;
}

.collapsible-body{
    background: white;
}
.collapsible-body .chip{
    background-color: #e9eaea;
}
.book-content{
    padding: 30px;
}
.book-feature{
    padding: 10% 25%;
    border: 1px solid #eeeeee;

}
.book-feature img{
    width: 100%;
}
.book-title{
    font-weight: 400;
    line-height: 1.1;
    color: #323232;
    font-size: 30px;
}
.techmaster-comment{
    background-color: #e9eaea;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    margin: 0 0 25px;
    font-style: italic;
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}
.chip{
    background-color: #e9eaea;
}
.link-to-book a{
    margin-right: 20px;
    margin-bottom: 20px;
}
#book-detail{
   padding: 40px 0;

    border-top:  1px solid silver;
}
.tab-content{
    padding: 2.4em 2em 2.4em;
    border-radius: 3px;
}
.book-description,.user-comment{
    background: white;
    padding: 2em;
    border: 1px solid silver;
    border-top: none;
}
 .tabs .tab a{
     background-color: #e9eaea;
     border-bottom: 1px solid silver;
     text-transform: uppercase;
     font-weight: 600;
 }
 .tabs .tab a:hover{
     color: rgba(38, 38, 38, 0.65);
 }
 .tabs{
    width: 100% !important;
    border: 1px solid silver;
    border-bottom: none;
}
.tabs .tab a.active{
    background-color: white;
    border-bottom: none ;
}
.book-ldesc tr{
    border-bottom: 1px solid silver;
}
.book-ldesc tr:last-child{
    border-bottom: none ;
}
#book-info{
    border-right: 1px solid silver;
}

@media (min-width: 769px) {
    .grid-sizer,
    .grid-item { width: 48%; }

    .gutter-sizer { width: 4%; }

    #main-book-content,#main-blog-most-view,#main-blog-top-author{
        width: 80%;
        max-width: 800px;
    }
    .most-view-title h3, .top-author-title h3, .newest-title h3{
        /*color: #ffffff;*/
        /*font-family: ', sans-serif;*/
        font-size: 34px;

        line-height: 38px;
        margin: 0 0 38px;

    }
    .page-heading h2{
        text-align: right;
    }
}
@media (min-width: 992px) {
    .grid-sizer,
    .grid-item { width: 32%; }
    .gutter-sizer { width: 2%; }

    #main-book-content,#main-blog-top-author,#main-blog-most-view{
        width: 90%;
        max-width: 1170px;
    }

    .grid-item > .card > .card-image{
        /*max-height: 300px;*/
        /*overflow: hidden;*/
    }
    .grid-item > .card > .card-image:hover img{
        -webkit-transition: all 400ms ease-in;
        -webkit-transform: scale(1.0);
        /*-ms-transition: all 400ms ease-in;*/
        -ms-transform: scale(1.0);
        -moz-transition: all 400ms ease-in;
        -moz-transform: scale(1.0);
        transition: all 400ms ease-in;
        transform: scale(1.0);
        opacity: 1;
    }
    .grid-item > .card > .card-image img{
        -webkit-transition: all 400ms ease-in;
        -webkit-transform: scale(1.0);
        /*-ms-transition: all 400ms ease-in;*/
        -ms-transform: scale(1.0);
        -moz-transition: all 400ms ease-in;
        -moz-transform: scale(1.0);
        transition: all 400ms ease-in;
        transform: scale(1.0);
        opacity: 1;
    }
    .post-content{
        width: 80%;
    }
}






.grid-item > .card > .card-content > h2.card-title, .most-view-content  h2.card-title {
    font-size: 18px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 12px;
    line-height: 24px !important;
}


#book-filter > ul.collapsible{
    box-shadow: none;
    border: none;

}
#book-filter > ul.collapsible li{

    /*border-left: 1px solid #d2d6d5;*/
    /*border-right: 1px solid #d2d6d5;*/
    transition: background 0.4s ease;
    -webkit-transition: background 0.4s ease;
}


#book-filter > ul.collapsible > li >.collapsible-header{

    display: inline-block;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    background-color: transparent;
    height: 50px;
    line-height: 50px;
    padding: 0 15px;
    color: #313131;
    -webkit-transition: background .25s ease-out, color .25s ease-out;
    transition: background .25s ease-out, color .25s ease-out;
    /*border-left: 1px solid tea;*/
    text-transform: none;
}

#book-filter > ul.collapsible > li.active >.collapsible-header{
    border-bottom: none;
}
#book-filter > ul.collapsible > li >.collapsible-header span{
    position: relative;
    padding-right: 30px;
}

#book-filter > ul.collapsible > li >.collapsible-header span::before,#book-filter > ul.collapsible > li >.collapsible-header span::after{
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: 19px;
    width: 2px;
    height: 8px;
    margin-top: -3px;
    background: #A6ABAB;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: all .25s ease-out;
    transition: all .25s ease-out;
}

#book-filter > ul.collapsible > li >.collapsible-header span::after{
    right: 15px;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

#book-filter > .collapsible > li.active > .collapsible-header span::after{
    right: 19px;
    /*-webkit-transform: rotate(135deg);*/
    /*transform: rotate(135deg);*/
}

#book-filter > .collapsible > li.active > .collapsible-header span::before{
    right: 15px;
    /*-webkit-transform: rotate(225deg);*/
    /*transform: rotate(225deg);*/
}
#data-filter{
    /*padding: 20px;*/
    /*border-left: 1px solid #ddd;*/
}
.tabs .indicator{

   /*background-color: white;*/
}
#book-filter .tabs .tab a.active{
    /*background-color: teal;*/
}