
.grid-item .card{
    box-shadow: none;
}
.grid-item a{
    color: #000;
}
.grid-item .card-action  a{
    color: #cccccc;
}
.grid-sizer,
.grid-item { width: 100%;

}

.gutter-sizer { width: 0; }

.grid-item--width2 { width: 100%;


}

.grid:after {
    content: '';
    display: block;
    clear: both;
}

main{
    min-height: 1200px;
}
#main-blog-content,#main-blog-most-view,#main-blog-top-author{
    margin: 0 auto;
    max-width: 600px;
    padding: 10px;
}
.post-content{
    width: 90%;
}
@media (min-width: 769px) {
    .grid-sizer,
    .grid-item { width: 48%;
    }

    .gutter-sizer { width: 4%; }

    .grid-item--width2 { width: 100%;


    }
    #main-blog-content,#main-blog-most-view,#main-blog-top-author{
        width: 85%;
        max-width: 800px;
        padding: 20px;
    }
    .most-view-title h3, .top-author-title h3, .newest-title h3{
        /*color: #ffffff;*/
        /*font-family: ', sans-serif;*/
        font-size: 34px;

        line-height: 38px;
        margin: 0 0 38px;

    }
    .page-heading h2{
        text-align: right;
    }
    #main-blog-content form{
        float: right!important;
    }
    .post-content{
        width: 90%;
    }
}


@media (min-width: 993px) {
    .grid-sizer,
    .grid-item { width: 32%; }

    .gutter-sizer { width: 2%; }
    .grid-item--width2 { width: 66%; }

    #main-blog-content,#main-blog-top-author,#main-blog-most-view{
        width: 90%;
        max-width: 1170px;
        padding: 30px;
    }

    .grid-item > .card > .card-image{
        max-height: 300px;
        overflow: hidden;
    }
    .grid-item > .card > .card-image:hover img{
        -webkit-transition: all 400ms ease-in;
        -webkit-transform: scale(1.1);
        /*-ms-transition: all 400ms ease-in;*/
        -ms-transform: scale(1.1);
        -moz-transition: all 400ms ease-in;
        -moz-transform: scale(1.1);
        transition: all 400ms ease-in;
        transform: scale(1.1);
        opacity: 1;
    }
    .grid-item > .card > .card-image img{
        -webkit-transition: all 400ms ease-in;
        -webkit-transform: scale(1.0);
        /*-ms-transition: all 400ms ease-in;*/
        -ms-transform: scale(1.0);
        -moz-transition: all 400ms ease-in;
        -moz-transform: scale(1.0);
        transition: all 400ms ease-in;
        transform: scale(1.0);
    }
    .post-content{
        width: 85%;
    }
}
@media (min-width: 1200px) {
    .post-content{
        width: 80%;
    }
}
.grid-item > .card > .card-content > h2.card-title, .most-view-content  h2.card-title {
    font-size: 18px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 12px;
    line-height: 24px !important;
}


#blog-filter > ul.collapsible{
    box-shadow: none;
    border: none;

}
#blog-filter > ul.collapsible li{

    /*border-left: 1px solid #d2d6d5;*/
    /*border-right: 1px solid #d2d6d5;*/
    transition: background 0.4s ease;
    -webkit-transition: background 0.4s ease;
}


#blog-filter > ul.collapsible > li >.collapsible-header{

    display: inline-block;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    background-color: transparent;
    height: 50px;
    line-height: 50px;
    padding: 0 15px;
    color: #313131;
    -webkit-transition: background .25s ease-out, color .25s ease-out;
    transition: background .25s ease-out, color .25s ease-out;
    /*border-left: 1px solid tea;*/
    text-transform: none;
}

#blog-filter > ul.collapsible > li.active >.collapsible-header{
    border-bottom: none;
}
#blog-filter > ul.collapsible > li >.collapsible-header span{
    position: relative;
    padding-right: 30px;
}

#blog-filter > ul.collapsible > li >.collapsible-header span::before,#blog-filter > ul.collapsible > li >.collapsible-header span::after{
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: 19px;
    width: 2px;
    height: 8px;
    margin-top: -3px;
    background: #A6ABAB;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: all .25s ease-out;
    transition: all .25s ease-out;
}

#blog-filter > ul.collapsible > li >.collapsible-header span::after{
    right: 15px;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

#blog-filter > .collapsible > li.active > .collapsible-header span::after{
    right: 19px;
    /*-webkit-transform: rotate(135deg);*/
    /*transform: rotate(135deg);*/
}

#blog-filter > .collapsible > li.active > .collapsible-header span::before{
    right: 15px;
    /*-webkit-transform: rotate(225deg);*/
    /*transform: rotate(225deg);*/
}
#data-filter{
    padding: 20px;
    border-left: 1px solid #ddd;
}


/*CSS filter cu*/





#blog-filter > .tabs{
    border-top: 1px solid #d2d6d5;
    border-bottom: 1px solid #d2d6d5;
}
#blog-filter > .tabs > .indicator{
    height: 0;

}
#blog-filter > .tabs, #blog-filter > .tabs > .tab{
    height: 52px;
    background: transparent;
    /*border-bottom: 1px solid teal;*/
}
#blog-filter > .tabs > .tab{
    position: relative;
    height: 50px;
    line-height: 50px;
    border-left: 1px solid #d2d6d5;
    /*border-right: 1px solid #d2d6d5;*/
    transition: background 0.4s ease;
    -webkit-transition: background 0.4s ease;
}
#blog-filter > .tabs > .tab:first-child{
    border-left: none;
    font-weight: 700;
}
#blog-filter > .tabs > .tab:last-child{
    border-right: none;
}

#blog-filter > .tabs > .tab:hover{
    background: #ffffff;
    -webkit-transition: background .25s ease-out, color .25s ease-out;
    transition: background .25s ease-out, color .25s ease-out;
}


#blog-filter > .tabs > .tab a span{
    display: block;
    height: 50px;
    line-height: 50px;
    padding: 0 15px;
    color: #313131;
    -webkit-transition: background .25s ease-out, color .25s ease-out;
    transition: background .25s ease-out, color .25s ease-out;
    /*border-left: 1px solid tea;*/
    text-transform: none;

}


#blog-filter > .tabs > .drop a{
    padding-right: 30px;
    cursor: pointer;
}
#blog-filter > .tabs > .tab a{
    display: inline-block;
}
#blog-filter > .tabs > .drop span::before, #blog-filter > .tabs > .drop span::after{
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: 19px;
    width: 2px;
    height: 8px;
    margin-top: -3px;
    background: #A6ABAB;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: all .25s ease-out;
    transition: all .25s ease-out;
}
#blog-filter > .tabs > .drop span::after{
    right: 15px;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

#blog-filter > .tabs > .tab.drop > .active   {
    background: #ffffff;
}


#blog-filter > .tabs > .tab > .active span::after{
    right: 19px;
    /*-webkit-transform: rotate(135deg);*/
    /*transform: rotate(135deg);*/
}

#blog-filter > .tabs > .tab > .active  span::before{
    right: 15px;
    /*-webkit-transform: rotate(225deg);*/
    /*transform: rotate(225deg);*/
}

/*Het css blog cu*/

