*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

#wrapper{
    width: 400px;
    min-height: 600px;
    margin: 0 auto;
}
#cal-title h2{
    line-height: 90px;
    font-size: 70px;
}
.btn{
    padding: 5px;
    height: 50px;
    margin: 10px 0;
}
#input{
    width: 90%;
    height: 50px;
    line-height: 48px;
    font-size: 36px;
    float: left;
}
#math{
    float: left;
    height: 50px;
    width: 20px;
   margin-left: 20px;
    line-height: 48px;
    font-size: 36px;
}