.drag-drop-dialog-item {
    display: inline-block;
    color: #fff;
    border-color: #4cae4c;
    vertical-align: middle;
    white-space: nowrap;
    line-height: 1.42857143;
    min-width: 200px;
    cursor: pointer;
    font-size: 1rem;
    text-decoration: none;
    background-color: #5daa05;
    text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;

}

.drag-drop-dialog-recommend-wrapper {
    padding: 20px;
    background-color: #fff;
    width: 50%;
    min-height: 54px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
}

.drag-drop-dialog-recommend-wrapper .drag-drop-dialog-item {
    float: left;
    clear: both;
    margin: 5px;
    padding: 5px 10px;
}

.drag-drop-dialog-paragraph-wrapper {
    padding: 20px;
    line-height: 2em;
    width: 50%;
    min-height: 200px;
}

.drag-drop-dialog-paragraph-wrapper .drag-drop-dialog-droppable {
    display: inline-block;
    text-align: left;
    line-height: 1.2em;
    margin: 0 5px 0 5px;
    min-width: 200px;
    height: 1.2em;
    border-bottom: 1px solid #333333;
}

.drag-drop-dialog-paragraph-wrapper .drag-drop-dialog-item {
    padding: 2px 5px;
}

.drag-drop-dialog-placeholder {

}